[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "==3.1.1"
pandas = "*"
hyperopt = "*"
xgboost = "*"
fastparquet = "*"
python-dateutil = "*"
scikit-learn = "==1.7.0"
flask = "*"
gunicorn = "*"
numpy="*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
